body { background: #c4ab51; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 12px; display: flex; }
.block-shipping-0 { color: #408b22; font-size: 17px; margin-bottom: 5px; }
.block-logger-1 { color: #59bced; font-size: 15px; margin-bottom: 5px; }
.block-product-2 { color: #3cf680; font-size: 20px; margin-bottom: 5px; }
.block-config-3 { color: #bbf921; font-size: 18px; margin-bottom: 5px; }
.block-filter-4 { color: #f0521c; font-size: 14px; margin-bottom: 5px; }
.block-search-5 { color: #e1fed1; font-size: 12px; margin-bottom: 5px; }